@use "./mixin";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "./reset";

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;

  @include mixin.flex(center, center);

  .header-container {
    @include mixin.flex(space-between, end);
    gap: 51px;
    .dine-about_info {
      max-width: 507px;
      flex-shrink: 0;
      width: 100%;
      @include mixin.flex(center, start, column);
      img {
        margin-bottom: 153px;
      }
      .title {
        font-weight: 300;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 10px;
      }
      .discription {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
        margin-bottom: 40px;
      }
    }
    .timer {
      @include mixin.flex(center, center);
      gap: 24px;
      .time {
        @include mixin.flex(center, center, column);

        max-width: 120px;
        width: 100%;
        flex-shrink: 0;
        padding: 24px 30px;
        background: #fff;

        span {
          text-align: center;
          font-weight: 600;
          font-size: 48px;
          line-height: 100%;
          letter-spacing: 0.05em;
          color: #111;
        }

        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 100%;
          text-align: center;
          color: #111;
          opacity: 0.7;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 80px 20px 76px;
  background: #111;

  .footer-container {
    @include mixin.flex(space-between, start);
  }

  .footer-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;
  }
}

@media screen and (max-width: 1382px) {
  .header {
    padding-top: 56px;
    .header-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .dine-about_info {
        align-items: center;
        text-align: center;

        img {
          margin-bottom: 56px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    .footer-container {
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 690px) {
  .header {
    padding: 232px 24px 152px 24px;
    background-image: url("../images/image/mobile-bg.jpg");
    background-position: top left;
    background-size: 100% 100%;

    .header-container {
      .dine-about_info {
        img {
          margin-bottom: 36px;
        }
        .title {
          font-size: 32px;
          line-height: 125%;
        }
        .discription {
          font-size: 16px;
          line-height: 162%;
        }
      }
      .timer {
        gap: 5px;
        .time {
          padding: 15px 20px;
          flex-shrink: 1;
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .footer {
    .footer-container {
      flex-direction: column;
      align-items: center;
      gap: 42px;
    }
    .footer-list {
      text-align: center;
    }
  }
}
